<mat-accordion multi="true" *ngIf="items.length > 0">
    <mat-expansion-panel *ngFor="let item of items">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ item.task }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <p>
            {{ item.description }}
        </p>
        <mat-action-row>
            <!-- <button mat-button (click)="onItemEdit(item)">Edit</button> -->
            <button mat-button color="warn" (click)="onItemDelete(item.id)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="emptyListError" *ngIf="items.length <= 0">No Tasks in list</p>